[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
aiohttp = "*"
motor = "*"
lru-dict = "*"
coloredlogs = "*"
arrow = "*"
DiscordUtils = "*"

[dev-packages]

[requires]
python_version = "3.9"
